<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content=IE=edge>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>npm1K</title>
    <link rel=stylesheet
          href=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css>
  </head>
  <body>
    <div class=container>
      <div class=page-header>
        <h1>npm1K <small>are we licensed yet?</small></h1>
      </div>

      <p><a href="http://npmjs.com">npm, the awesome source code package manager for JavaScript and stuff</a>, recently <a href="https://github.com/npm/npm/releases/tag/v2.10.0">updated its guidelines on license metadata in <code>package.json</code> files</a>. The new guidelines ask maintainers to use <a href="http://spdx.org">the SPDX standard’s</a> license expression syntax to show how their work is licensed in a machine-readable way. You will get a warning if you don’t.</p>

      <p>In most cases, that's as easy as setting your <code>license</code> property (<em>not</em> <code>licenses</code>, as for RubyGems) to <code>MIT</code>, <code>ISC</code>, <code>BSD-2-Clause</code>, <code>Apache-2.0</code>, or some other string on <a href="http://spdx.org/licenses">SPDX' official list</a>. You can even <code>Unlicense</code> or <code>WTFPL</code>, you rebel, you.</p>

      <p>Who cares? Nobody cares! Until they have to do a license check. Then, thanks to how amazing npm is, you’re left staring down a bottomless well of <code>node_modules</code> directories you must search, manually, for <code>LICENSE</code> files and hints in <code>README</code>.  But shouldn’t some lousy program do that kind of work for you? Of course! And it would sure help if the npm ecosystem offered good, clean metadata to chew on.</p>

      <p>The following is a list of packages among the 1,000 most-depended-upon (the “npm1K”) that aren't yet part of that better world. There are handy links for making quick pull requests to fix <code>package.json</code> if you’d like to help them out. Given how vital these packages are, each one with a good <code>license</code> property helps make Node easier to adopt in new and different teams, many of which are dipping timid corporate toes into open-source for the very first time.</p>

      <p>Want to rage-tweet about the new npm validation warning? Blame it on <a href="https://github.com/kemitchell">@kemitchell</a>. Want to trash npm for this corny single-page website? Can’t. It’s not affiliated with npm.</p>

      <p>Special thanks to <a href="https://github.com/beaugunderson">@beaugunderson</a> and <a href="https://github.com/tunnckoCore">@tunnckoCore</a>.</p>

      <hr>

      <div class="progress">
        <div class="progress-bar progress-bar-success"
             style="width: {{valid}}%">
          {{validRounded}}% valid
        </div>
        <div class="progress-bar progress-bar-warning"
             style="width: {{invalid}}%">
          {{invalidRounded}}% invalid
        </div>
      </div>

      <p><small>{{date}}</small></p>

      <table class=table>
        <thead>
          <tr>
            <th>№</th>
            <th>Package</th>
            <th>Latest</th>
            <th>Maintainers</th>
            <th>Fix It!</th>
            <th>Warnings</th>
          </tr>
        </thead>

        <tbody>
          {{#mostWanted}}
          <tr>
            <td>{{number}}</td>
            <td><a href='{{homepage}}'>{{package}}</a></td>
            <td>{{version}}</td>
            <td>
              {{#maintainers}}
                {{name}}
              {{/maintainers}}
            </td>
            <td>
              {{#fixItURL}}
                <a href='{{fixItURL}}'>
                    <span class='glyphicon glyphicon-pencil'></span>
                </a>
              {{/fixItURL}}
            </td>
            <td>
              {{#license}}
              <code>{{.}}</code>
              {{/license}}
              <ul>
              {{#licenseData}}
                {{#warnings}}
                  <li>{{.}}</li>
                {{/warnings}}
              {{/licenseData}}
              </ul>
            </td>
          </tr>
          {{/mostWanted}}
        </tbody>
      </table>
    </div>

    <a href="https://github.com/npm1k/npm1k.github.io"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
  </body>
</html>
